apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-srv
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/use-regex: 'true'
    nginx.ingress.kubernetes.io/ssl-redirect: 'false'  # Disable HTTPS redirect for dev
spec:
  rules:
    - host: posts.com
      http:
        paths:
            # react app
          - path: /
            pathType: Prefix
            backend:
              service:
                name: client-srv
                port:
                  number: 3000

          - path: /api/posts/create
            pathType: Prefix
            backend:
              service:
                name: posts-srv
                port:
                  number: 4001

          - path: /api/posts/?(.*)/comments
            pathType: ImplementationSpecific
            backend:
              service:
                name: comments-srv
                port:
                  number: 4002

          - path: /api/posts
            pathType: Prefix
            backend:
              service:
                name: query-srv
                port:
                  number: 4003